[Desktop Entry]
Categories=Application;System
Encoding=UTF-8
Exec=gksudo -g groupman
Icon=groupman
StartupNotify=true
Terminal=false
Type=Application
Name=Manage users and groups
Comment=
