[Desktop Entry]
Name=Lite Control Panel
Comment=Easily launch system tools on Linux Lite
Terminal=false
Type=Application
Exec=lite-control-panel
Icon=lite-control-panel
Categories=System;
