Package: linuxliteusermanager
Version: 1.0-3
Essential: no
Section: base
Priority: required
Depends: menu
Homepage: http//linuxliteos.com
Maintainer: Shaggy <twodopeshaggy@gmail.com>
Architecture: all
Description: Linux Lite User and Groups Manager
 A tool to help you easily manage users and groups on Linux Lite.

