Package: linuxliteusermanager
Version: 1.0-4
Essential: no
Section: base
Priority: required
Depends: menu
Homepage: https//www.linuxliteos.com
Maintainer: Johnathan Jenskins <twodopeshaggy@gmail.com>
Architecture: all
Description: Linux Lite User and Groups Manager
 A tool to help you easily manage users and groups on Linux Lite.

