Source: litecontrolpanel
Section: base
Priority: extra
Maintainer: Johnathan Jenkins <twodopeshaggy@gmail.com>
Build-Depends: make,
               debhelper (>= 8.0.0),
               valac-0.20 | valac (>=0.20),
			   libgtk-3-dev
Standards-Version: 3.9.2
Homepage: https://www.linuxliteos.com
#Vcs-Git: git://git.debian.org/collab-maint/controlcenter.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/controlcenter.git;a=summary

Package: litecontrolpanel
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Linux Lite Simple Control Panel
 A tool to help you easily launch system tools on Linux Lite.
