[Desktop Entry]
Name=Lite Control Panel
Comment=Central place for accessing system configuration tools
Terminal=false
Type=Application
Exec=lite-control-panel
Icon=lite-control-panel
Categories=System;
