[Desktop Entry]
Categories=Application;System
Encoding=UTF-8
Exec=gksudo -g liteusermanager
Icon=liteusermanager
StartupNotify=true
Terminal=false
Type=Application
Name=Manage Users and Groups
Comment=
